/****
DARK MODE STYLING
****/

/***
dark mode styles
****/
.theme-switch {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  width: 55px;
  margin-right: 2rem;
  height: 30px;
}

.theme-switch input {
  display: none;
}



.slider {
  position: relative;
  background: #383535;
  border-radius: 50px;
  width: 100%;
  height: 100%;
  transition: background 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  border: 2px solid rgb(136, 120, 123);
}

.dark-mode .slider{
  background: white;
}

.slider span img{
  width: 1.7rem;
  height: 1.7rem;
  rotate: -26deg;
  margin-top: .26rem;

}

.slider .icon {
  font-size: 14px;
  opacity: 0.4;
  transition: opacity 0.3s ease, transform 0.3s ease;
  position: absolute;
}

input:checked + .slider {
  background: #222;
  border: 0.1px solid rgb(53, 49, 48);
}

.dark-mode input:checked + .slider{
  background-color: rgb(219, 213, 213);
  border: 1px solid rgb(199, 192, 192);
}

input:checked + .slider .sun {
  opacity: 0;
  transform: translateX(-25px);

}

input:checked + .slider .moon {
  opacity: 1;
  transform: translateX(25px);
}

.slider .moon {
opacity:0;
}

/***
dark css
***/

body.dark-mode{
  background: #f5f3f3;
}

.dark-mode .navbar-section{
  background: rgb(252, 250, 250);
  box-shadow: 0 2px 6px rgba(146, 144, 144, 0.6);
  border: none;
}


.dark-mode .nav-left img{
  width: 3rem;
  height: 3rem;
  background-color: white;
  border: 1px solid white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}


.dark-mode  a .login{
  background: rgb(41, 153, 116);
  border: 1px solid rgb(75, 177, 160);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  color: white;
}







.dark-mode .hero-section{
  background: rgb(255, 255, 255);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.dark-mode .hero-section .trusted{
  background-color: white;
  color: rgb(75, 72, 72);
  font-family: serif;
  font-weight: 600;
}

.dark-mode .cta-text h2{
  background: white;
  color: black;
  box-shadow: 0 2px 6px rgba(124, 122, 122, 0.6);
  border: none;
}

.dark-mode .queen img{
  border: 1px solid rgb(163, 160, 160);
}

.dark-mode .user-info p{
  color: rgb(31, 29, 29);
}

.dark-mode .short-note p{
  color: rgb(36, 34, 16);
}

.dark-mode .short-note strong{
  color: rgb(124, 114, 27);
}

.dark-mode .networks{
  background: rgb(216, 235, 238);
  border: 1px solid white;
  box-shadow: 0 2px 6px solid rgba(0, 0, 0, 0.2);
}

.dark-mode  a .mtn{
  background: rgb(238, 238, 160);
  border: 1px solid rgb(240, 235, 166);
  box-shadow: 0 2px 6px rgba(0,0,0,0.4);
}



.dark-mode  a .tel{
  background: rgb(247, 181, 192);
  border: 1px solid rgb(241, 189, 189);
  box-shadow: 0 2px 6px rgba(0,0,0,0.4);
}


.dark-mode  a .tigo{
  background: rgb(181, 181, 243);
  border: 1px solid rgb(162, 189, 219);
  box-shadow: 0 2px 6px rgba(0,0,0,0.4);
}

.dark-mode .order-status-container{
  background: white;
  border: 1px solid white;
  border-radius: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}


.dark-mode .right-side{
  background: white;
}
.dark-mode .right-side-top{
  border-right: 1px solid rgb(214, 209, 209);
  border-bottom: 1px solid rgb(214, 209, 209);
}

.dark-mode .right-side-btm{
  border-right: 1px solid rgb(201, 194, 194);
}


.dark-mode .left-side{
  background: white;
}

.dark-mode .order-status-section{
  background: white;
  width: 220px;
  height: 18rem;
  border: 1px solid rgb(238, 237, 237);
  border-radius: .5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.dark-mode .order-status-section h2{
  color: black;
}

.dark-mode .order-status-container input{
  background: white;
  border: 1px solid rgb(196, 195, 195);
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.dark-mode .checkBt{
  background: white;
  height: 2.2rem;
  border: 1px solid rgb(235, 227, 227);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dark-mode .card-div{
  background: rgb(255, 255, 255);
  box-shadow: 0 2px 6px rgba(112, 110, 110, 0.4);
  border: 1px solid rgb(230, 222, 222);
}

.dark-mode .card-div-top{
  background: rgb(221, 237, 243);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.dark-mode .card-div-top img{
  border: 2px solid rgb(177, 170, 170);
}

.dark-mode .card-div-top h2{
  color: rgb(59, 59, 59);
}

.dark-mode .buy-btn{
  background:rgb(228, 232, 241);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid rgb(245, 234, 234);
}

.dark-mode .buy-btn:hover{
 background:  rgb(223, 230, 240);
}















.user-info{
  width: 100%;
  height: 2rem;
  padding: .1rem;
  margin-bottom: 2rem;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.user-info p{
  font-size: 1.2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  color: rgb(226, 218, 218);
  text-align:center;
}






      /**
    * SNACKBAR
    **/
    /***
SNACKBAR SECTION
****/
.snackbar {
  position: fixed;
  top: 1rem;
  right: 50%;
  width: 100%;
  height: 3rem;
  max-width: 300px;
  transform: translateX(50%);
  background-color:  #114435e3;
  color: rgb(23, 182, 174);
  text-align: start;
  display: flex;
  align-items: center;
  word-spacing: 2.7;
  justify-content: start;
  font-size: 1.2rem;
  padding: 12px 20px;
  border: 1px solid rgb(0, 255, 242);
  border-radius: 8px;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
  box-shadow: 0 2px 6px rgba(98, 126, 118, 0.849), 0 -2px 6px  rgba(25, 31, 29, 0.849) ;
  z-index: 2000000; /* above input popup */
  opacity: 0;
  pointer-events: none;
  transition: opacity 1.5s ease, transform 0.3s ease;
}

.snackbar.show {
  opacity: 1;
  transform: translateX(50%) translateY(10px);
  pointer-events:all;
  width: 100%;
  max-width: 420px;
  background: var(--bg-cl);
}


/****-----PHONE INPUT MODAL-------------****/
/* ===== MODAL STYLING ===== */
.modal {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  justify-self: center;
  z-index: 9999;
}

.selected-div{
  display: flex;
  width: 100%;
  height: 10rem;
  max-width: 97%;
  justify-self: center;
  align-items: center;
  justify-content: center;
  padding: 0 .5rem;
  background: var(--nav-bg-cl-2);

  border: 2px solid var(--wht-thin-border-1);
  border-radius: var(--thin-br-2);
  box-shadow: 0 2px 6px rgba(34, 33, 33, 0.8);
}

.selected-div h4{
  color: rgb(201, 196, 196);
  font-size: 1.3rem;
  font-weight: 600;
  width: 100%;
  max-width: 30%;
  font-family: serif;
  background: rgba(206, 180, 151, 0.164);
  padding: .5rem;
  border-radius: 1rem;
  box-shadow: 0 2px 6px rgba(44, 38, 31, 0.3);

}

.placeholders-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 1rem;
  padding: .5rem;;
}

.placeholdersbtn-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: max-content;
  height: 4rem;
  flex-direction: column;
}

.placeholdersbtn-wrapper small{
  font-size: 1.1rem;
  color: rgb(129, 124, 124);
  margin-bottom: .2rem;
}

.placeholders-left{
  display: flex;
  width: 100%;
  max-width: 25%;
  height: 2rem;
  padding: .2rem .4rem;
  font-size: 1rem;
  font-family: serif;
  font-weight: 600;
  max-width: 120px;
  align-items: center;
  justify-content: center;
  right: 1rem;
  background: rgba(226, 221, 221, 0.507);
  border: 0.1px solid rgb(177, 164, 153);
  border-radius: var(--thin-br-1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2)
}

.placeholders-right{
  display: flex;
  width: 100%;
  max-width: 35%;
  height: 2rem;
  padding: .2rem .4rem;
  font-size: 1rem;
  font-family: serif;
  font-weight: 600;
  max-width: 160px;
  align-items: center;
  justify-content: center;
  left: 1rem;
  background: rgba(226, 223, 223, 0.507);
  border: 0.1px solid rgb(177, 170, 165);
  border-radius: var(--thin-br-1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.modal.show {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  animation: fadeIn 0.3s ease;
}

.modal-content {
  background: var(--body-bg-cl-1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;  
  border-radius: 12px;
  width: 100%;
  gap: .8rem;
  height: 27rem;
  max-width: 410px;
  box-shadow: 0 10px 25px rgba(49, 47, 47, 0.3);
  text-align: center;
  animation: popUp 0.3s ease;
  border: 1px solid rgba(105, 104, 102, 0.774);
}

.hintText{
width: 100%;
height: max-content;
padding: .2rem;
align-items: center;
justify-content: start;
}

.hintText h3 {
  font-size: 1rem;
  color: rgb(129, 124, 124);
  margin-bottom: -.4rem;
  margin-left: .5rem;
  text-align: start;
  justify-self: start;
  font-family: Arial;
  font-weight: 500;
}

.input-image{
  width: 100%;
  max-width: 94%;
  height: max-content;
  padding: .2rem;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.input-image img{
  align-self: center;
  margin-bottom: 1rem;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: var(--thin-br-2);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.input-image input {
  width: 100%;
  max-width: 290px;
  height: 3rem;
  display: flex;
  justify-content: start;
  align-items: start;
  justify-self: start;
  padding: 8px;
  color: rgb(223, 216, 216);
  border: 1px solid rgb(68, 66, 66);
  border-radius: var(--thin-br-1);
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 1rem;
  margin-right: 3.7rem;
  background: var(--body-bg-cl-1);
  transition: border 0.3s ease;
}

.input-image input::placeholder{
  font-size: 1rem;
  text-align: center;
}

.modal-content input:focus {
  border: 0.1px solid var(--wht-thin-border-1);
  outline: none;
}

.modal-buttons {
  display: flex;
  width: 100%;
  max-width: 420px;
  height: 5rem;
  background-color: rgba(59, 56, 56, 0.253);
  border-radius: 6px;
  padding: .9rem 1.1rem;
  align-items: center;
  border: 2px solid var(--thin-border);
  justify-content: space-between;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  gap: 1.5rem;
}

.modal-buttons .btn {
  flex: 1;
  padding: 10px;
  width: max-content;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  border: 0.1px solid rgb(139, 135, 135);
  font-size: 0.90rem;
}

.modal-buttons .cancel {
  width: 100%;
  max-width: 150px;
  height: 2.4rem;
  background: #726f6f;
  font-size: 1.08rem;
  font-family: Arial;
  color: var(--text-cl-2);
  border: 1px solid var(--text-cl-3);
  box-shadow:  0 2px 6px rgba(66, 65, 65, 0.2);
}

.modal-buttons .continue {
  width: 100%;
  max-width: 150px;
  padding: 0 .8rem;
  height: 2.8rem;
  display: flex;
  border: 2px solid var(--thin-border-1);
  align-items: center;
  justify-content: center;
  background: #087c69;
  font-size: 1.2rem;
  font-family: Arial;
  color: wheat;
  box-shadow:  0 2px 6px rgba(70, 69, 69, 0.2);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes popUp {
  from { transform: scale(0.9); opacity: 0; }
  to { transform: scale(1);opacity:1;}
}
/****-----PHONE INPUT MODAL--ENDS--****/

  /***
ROOT VARIABLE
*****/
:root{
  /***---BACKGROUND COLORS---***/
  --body-bg-cl-1: rgb(31, 32, 37);
  --nav-bg-cl-2: rgb(22, 23, 27);
  --hero-bg-cl-3: #494fcc;
  --main-section-bg-cl-4: #D3C600;
  --card-bg-cl-5: #929F33;
  --card-btn-bg-cl-6: #f06470da;
  --btn-hover-bg-cl-7: #336B92;
  --body-bg-cl-8: white;
  --body-bg-cl-9: white;

  /**--CARD BG--**/
  --mtn-bgn-cl: rgba(56, 51, 32, 0.288);
  --tigo-bgn-cl: #336a9209;
  --tel-bgn-cl: rgba(151, 76, 101, 0.075);

  /***--TEXT SIZES---***/
  --text-size-ext-small: .8rem;
  --text-size-small: .9rem;
  --text-size-mid: 1rem;
  --text-size-big: 1.1rem;
  --text-size-large: 1.2rem;
  --text-size-larger: 1.4rem;

  /**--TEXT COLORS--**/
  --text-cl-1: rgb(26, 23, 23);
  --text-cl-2: rgb(39, 27, 11);
  --text-cl-3: rgb(163, 149, 119);


  /*---border background---***/
  --wht-thin-border-1: rgb(56, 52, 52);
  --blk-thin-border-2: rgb(94, 59, 8);
  --ylw-thin-border-3: rgb(214, 100, 7);
  --rd-thin-border-4: rgb(163, 3, 38);
  --blu-thin-border-5: #163144;

  /**--HOVER CL--**/
  --bg-hover-cl: #163144;


  /***---border radius---***/
  --thin-br-1: 4px;
  --thin-br-2: 8px;
  --thin-br-3: 12px;
  --thin-br-4: 16px;
  --thin-br-5: 24px;
  --thin-br-6: 32px;
}

/***--GLOBAL SCOPE---***/
button:hover{
  cursor: pointer;
}

*{
  box-sizing: border-box;
  text-decoration: none;
}

body{
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  background: var(--body-bg-cl-1);
}

/***----NAVIGATION BAR SECTION---***/
.navbar-section{
  width: 100%;
  max-width: 480px;
  justify-self: center;;
  height: 4rem;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: .5rem 1rem;
  justify-content: space-between;
  background: var(--nav-bg-cl-2);
  border-bottom: 0.1px solid var(--wht-thin-border-1);
  z-index: 1000;
  overflow: hidden;;
}

.navbar-section .nav-left{
  width: 100%;
  width: 50%;
  height: 100%;
  display: flex;
  position: relative;
  justify-content: start;
  align-content: center;
}

.nav-left img{
  width: 2.7rem;
  height: 2.7rem;
  background-color: rgb(32, 32, 30);
  border-radius: 50%;
  border: 0.1px solid var(--blk-thin-border-2);
  cursor: pointer;
}

.navbar-section .nav-right{
  width: 100%;
  max-width: 50%;
  height: 100%;
  display: flex;
  position: relative;
  justify-content: end;
  align-content: center;
  align-items: center;
}

.nav-right img{
  width: 2rem;
  height: 1.9rem;
  background-color: rgb(129, 109, 81);
  border-radius: 2px;
  cursor: pointer;
}

/***----HERO SECTION---***/
.hero-section{
  width: 100%;
  max-width: 480px;
  height: 29rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: .5rem;
  background: var(--nav-bg-cl-2);
  position: relative;
  justify-self: center;
  top: 4.1rem;
  overflow: hidden;
  margin-bottom: .5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.hero-section .trusted{
  width: 100%;
  max-width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 1rem;
  gap: .4rem;
  background-color: rgb(54, 59, 61);
  color: rgb(197, 191, 191);
  height: max-content;
  padding: .4rem .5rem;
  border-radius: var(--thin-br-1);
  font-family: Arial;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.trusted img{
  width: 2.2rem;
  height: 1.2rem;
}

.hero-section .cta-text{
  width: 100%;
  max-width: max-content;
  align-items: center;
  justify-content: center;
  text-align: center;
  position:relative;
}

.cta-text h2{
  color: rgb(134, 124, 124);
  font-size: var(--text-size-larger);
  font-weight: 600;
  font-family: Arial;
  word-spacing: normal;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
  padding: .1rem .6rem;
  background: var(--body-bg-cl-1);
  margin-bottom: 2rem;
  border: 0.1px solid var(--wht-thin-border-1);

}

.hero-section .queen{
  width: 100%;
  max-width: 10rem;
  height: 5rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.queen img{
  height: 8rem;
  width: 6rem;
  border: 0.1px solid var(--wht-thin-border-1);
  border-radius: 50%;
}

.hero-section .short-note{
  width: 100%;
  max-width: max-content;
  padding: .2rem .4rem;
  height: 3rem;
  align-items: center;
  position: relative;
  display: flex;
  text-align: center;
  margin-bottom: .5rem;
}

.short-note p{
  font-size: var(--text-size-large);
  color: var(--text-cl-3)
}

.short-note strong{
  font-size: var(--text-size-larger);
  color: #929F33;
}

/***--NETWORKS--***/
.networks{
  display: flex;
  width: 100%;
  max-width: 100%;
  background-color: var(--body-bg-cl-1);
  height: 4rem;
  margin-top: .2rem;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  border: 0.1px solid var(--wht-thin-border-1);
}

.networks .mtn{
  background: var(--nav-bg-cl-2);
  display: flex;
  width: 7rem;
  height: 2.1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  color: rgb(119, 104, 63);
  font-size: var(--text-size-large); 
  border-radius: var(--thin-br-4);
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  border: 0.1px solid rgb(56, 51, 51);
}

.networks .tel{
  background: var(--nav-bg-cl-2);
  display: flex;
  width: 7rem;
  height: 2.1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  color: rgb(151, 88, 112);
  font-size: var(--text-size-large);
  border-radius: var(--thin-br-4);
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  border: 0.1px solid rgb(56, 51, 51);
}

.networks .tigo{
  background: var(--nav-bg-cl-2);
  display: flex;
  width: 7rem;
  height: 2.1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  color: rgb(119, 140, 148);
  font-size: var(--text-size-large);
  border-radius: var(--thin-br-4);
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  cursor: pointer;
  border: 0.1px solid rgb(56, 51, 51);
}

/****---MAIN SECTION---****/
.main-section{
  width: 100%;
  max-width: 480px;
  height: max-content;
  display: flex;
  padding: .6rem 0;
  position: relative;
  justify-content: center;;
  gap: 1rem;
  margin-top: 5rem;
  justify-self: center;
}

.main-section .card-container{
  width: 100%;
  max-width: 480px;
  height: max-content;
  display: grid;
  justify-self: center;
  justify-content: center;
  gap: .7rem;
  grid-template-columns: repeat(2, 1fr);
  padding: .5rem;
  position: relative;
  
}

/***--CARD-DIV--**/
.card-div{
  width: 14rem;
  height: 19rem;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  justify-self: center;
  gap: .4rem;
  padding: .5rem 0;
  background:transparent;
  box-shadow: 2px 2px 6px rgba(19,18,18,0.6), -2px -2px 6px rgba(19, 18, 18, 0.6);
  border-radius: var(--thin-br-3);
  border: 0.1px solid var(--wht-thin-border-1);
  transition: .5s ease-in-out;
}

.card-div:hover{
  transform: scale(1.02);
}



.card-div-top{
  width: 94%;
  height: 60%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
  background: var(--tigo-bgn-cl);
  border-radius: var(--thin-br-4);
  box-shadow: 0 2px 6px rgba(10, 10, 10, 0.6);
}

.card-div-top h2{
  color: rgb(207, 196, 196);
  font-size: 1.1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card-div-top img{
  width: 2rem;
  height: 2rem;
  border-radius: 30%;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}




.card-div-bottom{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: transparent;
}

.card-div-bottom .package-detail{
  width: 100%;
  max-width: 97%;
  height: 60%;
  display: flex;
  flex-direction: column;
  gap: .3rem;
  padding: .4rem ;
  background: transparent;
  border-radius: var(--thin-br-1);
}

.expiry-date,
.size,
.price small{
  font-size: var(--text-size-large);
  color: rgb(150, 144, 144);
}


.expiry-date{
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expiry-date p{
  color: var(--text-cl-3);
}

.size{
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.size p{
  color: var(--text-cl-3);
}

.price{
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .2rem;;
}

.price p{
  color: var(--text-cl-3);
}












.buy-btn-div{
  width: 100%;
  height: 35%;
  display: flex;
  align-items: end;
  justify-content: center;
}

.buy-btn{
  width: 90%;
  height: 60%;
  border-radius: var(--thin-br-2);
  border: none;
  background: var(--btn-hover-bg-cl-7);
  color: rgb(34, 25, 5);
  font-weight: 500;
  font-family: Arial;
  transition: .1s ease-in-out;
  text-transform: capitalize;
}

.buy-btn:hover{
  background-color:  #3a7fb1;
  font-weight: 600;
}


.package-detail p{
font-size: .91rem;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



  
  
@media (max-width: 400px) {
  


  /***
  display none
  ****/
 

  .order-status-container-wrapper .card-badge-container{
    display: none;
  }

  /***
  dark-mode display none div
@media (max-width: 400px) {


  
/***
DISPLAY NONE
****/

.sidebar-container{
  display: none !important;
}


.dark-mode .sidebar-container{
  display: none;
}


  .navbar-section{
    width: 100%;
    position: fixed;
    z-index: 99999;;
  }

  .navbar-section .login{
    display: flex !important;
    width: 5rem;
    justify-content: center;
    align-items: center;
    height: 1.7rem;
  }

  .dark-mode .nav-right a .login{
  background: rgb(41, 153, 116);
  border: 1px solid rgb(75, 177, 160);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  color: white;
}

  /**** ALL CONTENT WRAPPER***/
  .main-container-wrapper{
    width: 100%;
    height: max-content;
    max-width: 400px;
    display: flex;
    justify-self: center;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    position: relative;
    align-items: center;
  }

  /***
  CONTAINER
  ***/
  
/***----HERO SECTION---***/
.dark-mode .hero-section{
  width: 100% !important;
  height: 30rem;
  display: flex;
  top: 4.1rem;
  border-radius: 0;
  margin: 0 !important; 
  justify-self: center;
}


.dark-mode .networks{
  display: flex;
  border-radius: none;
  height: 4rem;
}



.hero-section{
  border-radius: 0 !important;
  height: 30rem !important;
  border: none !important;
  margin: 0 !important;
}


.hero-section .networks{
  display: flex;
}


.hero-section .trusted{
  width: 100%;
  max-width: 370px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
/****
ORDER STATUS CHECKER
****/
.order-status-container-wrapper{
  margin: 0;
}


.order-status-container{
  width: 100%;
  max-width: 90% !important;
  height: 25.4rem;
  display: flex;
  margin-top: 2rem;
  margin-right: 1rem;
}



.dark-mode .order-status-container{
  max-width: 98%;

}
.dark-mode .right-side{
  width: 100%;
  max-width: 50%;
}

.dark-mode .left-side{
  width: 100%;
  max-width: 50%;
}

/**--ORDER STAtUS ENDS--**/
/***LEFT SIDE @ 2 DIV-CONTAINER
***/







/***RIGHT SIDE @ 2 DIV-CONTAINER
***/


.status-result{
  width: 100%;
  max-width: 160px !important;
}

.dark-mode .status-result{
  width: 100%;
  max-width: 160px;
}


/****
ORDER STATUS
***/

.order-status-section {
  position: relative;
  max-width: 160px;
  display: flex;
  height: 17rem;
}






/*****
MAIN SECTION
****/



/****---MAIN SECTION---****/
.main-section{
  width: 100%;
  height: max-content;
  display: flex;
  padding: .6rem 0;
  position: relative;
  background: transparent;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  justify-self: center;
  margin-top: 4rem;
}

.main-section .card-container{
  width: 100%;
  max-width: 98%;
  display: grid;
  gap: .8rem;
  grid-template-columns: repeat(2,1fr) !important;
  justify-content: center;
  align-items: center;
  justify-self: center;
  margin-left: 18.7rem;
}

.dark-mode .main-section .card-container{
  width: 100%;
  max-width: 98%;
  display: grid;
  margin: 0 !important;
  gap: 1.3rem;
  justify-self: center;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}

/***--CARD-DIV--**/
.card-div{
  width: 11rem !important;
  height: 17rem;
  display: flex;
}

.dark-mode .card-div{
  width: 11rem !important;
  display: flex;
  height: 17rem;
}

.foot{
  width: 100%;
  margin: 0;
  padding: 0;
}





/***
PHONE MODAL
****/
.modal-content {
  width: 100%;
  gap: .8rem;
  height: 27rem;
  max-width: 90%;
}


    /***
SNACKBAR SECTION
****/
.snackbar {
  position: fixed;
  top: 1rem;
  right: 50%;
  width: 100%;
  height: 3rem;
  max-width: 360px;
  transform: translateX(50%);
  background-color:  #114435e3;
  color: rgb(23, 182, 174);
  text-align: start;
  display: flex;
  align-items: center;
  word-spacing: 2.7;
  justify-content: start;
  font-size: 1.2rem;
  padding: 12px 20px;
  border: 1px solid rgb(0, 255, 242);
  border-radius: 8px;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
  box-shadow: 0 2px 6px rgba(98, 126, 118, 0.849), 0 -2px 6px  rgba(25, 31, 29, 0.849) ;
  z-index: 2000000; /* above input popup */
  opacity: 0;
  pointer-events: none;
  transition: opacity 1.5s ease, transform 0.3s ease;
}

.snackbar.show {
  opacity: 1;
  transform: translateX(50%) translateY(10px);
  pointer-events:all;
  width: 100%;
  max-width: 360px;
  background: var(--bg-cl);
}

}
  



/****
LAPTOP UI
*****/
@media (max-width: 1366px) {

.login {
  width: 6rem;
  height: 1.9rem;
  background-color: rgb(97, 61, 11);
  border-radius: 2px;
  cursor: pointer;
  color: rgb(190, 182, 182);
  border: none;
  border-radius: 1rem;
  border: 1.8px solid  rgb(105, 100, 100);
  box-shadow: 0 2px 6px solid rgba(0, 0, 0, 0.3);
}

  /****
  display none div @1366px
  ****/
  .nav-right .login{
    display: none;
  }
/****
SIDEBAR-SECTION
****/
.sidebar-container{
  width: 100%;
  max-width: 290px;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
 
  display: flex;
  flex-direction: column;
}



.sidebar-top{
  width: 100%;
  height: 10rem;
  display: flex;
  background: var(--body-bg-cl-1);
  align-items: center;
  justify-content: center;
  border-bottom: 0.1px solid var(--wht-thin-border-1);
  border-right: 1px solid var(--wht-thin-border-1);
}

.dark-mode .sidebar-top{
  border-right: 1px solid rgb(201, 191, 191);
  border-bottom: 1px solid  rgb(201, 191, 191);
  background: rgb(255, 255, 255)
}

.user-panel{
  display: flex;
  align-items: center;
  justify-content: center;
  position:relative;
  background: rgb(105, 89, 45);
  width: 8rem;
  height: 4rem;
  text-align: center;
  border-radius: 50%;
  border: 1px solid rgba(156, 128, 33, 0.4);
  box-shadow: 0 2px 6px rgba(27, 27, 27, 0.6);
}

.dark-mode .user-panel {
  background: white;
  box-shadow: 0 2px 6px rgba(124, 123, 123, 0.6);
  border: 1px solid  rgb(124, 123, 37);
}

.user-panel h4{
  color: rgb(41, 40, 40);
  font-size: 1.3rem;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dark-mode .user-panel h4{
  color: rgb(94, 91, 91);
}

.dark-mode .foot{
  border-top: rgb(94, 91, 91);
}

.sidebar-middle{
  width: 96%;
  height: 30rem;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  gap: 1.2rem;
  scrollbar-width: thin;
  background: var(--body-bg-cl-1);
  scroll-behavior: smooth;
  scrollbar-color: var(--body-bg-cl-1);
  padding: .6rem .2rem;
  align-items: center;
  justify-content: start;
  border-right: 1px solid var(--wht-thin-border-1);
}

.dark-mode .sidebar-middle{
  background: rgb(255, 255, 255);
  border-right: 1px solid rgb(190, 179, 179);
}



.sidebar-middle .term a{
  font-size: .9rem;
  color: rgb(166, 170, 163);
}

.dark-mode .sidebar-middle .term a{
  color: rgb(90, 89, 29) ;
}



.sidebar-middle a{
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: rgb(231, 225, 225);
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2rem;
}

.dark-mode .sidebar-middle a{
  color: rgb(90, 89, 29);
}


.sidebar-middle img{
  width: 2.3rem;
  height: 2.4rem;
  background-color: var(--body-bg-cl-1);
  padding: .3rem;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  border: 1px solid var(--wht-thin-border-1);
}

.dark-mode .sidebar-middle img{
  background: whitesmoke;
  border: 2px solid white;
}

.sidebar-middle .network-page{
  width: 100%;
  height: 3.4rem;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: .5rem;
  transition: .1s ease;
}

.sidebar-middle .network-page:hover{
  background: rgb(94, 87, 87);
  border-radius: 8px;
}

.dark-mode .network-page:hover{
  background:  rgb(233, 228, 228);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.sidebar-middle .network-page img:hover{
  transform: scale(1.05);
}




.sidebar-bottom{
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--body-bg-cl-1);
  align-items: start;
  justify-content: start;
  padding: 1rem;
   border-top: 1px solid var(--wht-thin-border-1);
   border-right: 1px solid var(--wht-thin-border-1);
}

.dark-mode .sidebar-bottom{
  border-top: 1px solid rgb(201, 191, 191);
  border-right: 1px solid rgb(201, 191, 191);
  background: rgb(255, 255, 255);
}

.sidebar-bottom small{
  color: rgb(77, 126, 13);
  font-size: 1.1rem;
  text-decoration: underline;
}

.sidebar-bottom .login-1366{
  width: 12rem;
}






/***
SIDEBAR-ENDS
****/

  .navbar-section{
    width: 100%;
    max-width: 1060px;
    justify-self: end;
    background: var(--body-bg-cl-1);
  }



  .dark-mode .modal{
    z-index: 999999999999;
  }

 

  .hero-section{
    width: 100%;
    height: 25rem;
    border-end-end-radius: 3rem;
    border-end-start-radius: 3rem;
    gap: .5rem;
    background: var(--body-bg-cl-1);
    max-width: 1040px;
    justify-self: end;
    margin-right: .6rem;
    box-shadow: 0 2px 6px rgba(15, 15, 15, 0.8);
    border-bottom: 2px solid var(--wht-thin-border-1);
  }

  .dark-mode .hero-section {
    border-bottom: 1px solid rgb(214, 206, 206);
  }

  .networks{
    display: none
  }




  /****
  ORDER STATUS SECTION
  ****/

  .order-status-container-wrapper{
   display: flex;
   align-items: center;
   width: 100%;
   height: 27rem;
   max-width: 1030px;
   justify-self: end;
   gap: 1rem;
   position: relative;
   justify-content: center;
   align-content: center;
   justify-items: center;
   margin-top: 5rem;
   margin-right: .5rem;
   border-radius: 1.2rem;
  }





  .card-badge-container{
    width: 100%;
    max-width: 50%;
    height: 94%;
    gap: 10%;
    flex-direction: column;
    justify-content: end;
    display: flex;
    align-items: start;
    position: relative;
    padding: .3rem;
  }
.dark-mode .network-badge {
  background: white;
  border-radius: .8rem;
  box-shadow:  0 2px 6px rgba(0, 0, 0, 0.2);
  padding-bottom: 1rem;
  border: 1px solid rgb(206, 199, 199);
}

.dark-mode .network-badge h5{
  color: black;
}

.dark-mode .network-badge li{
  color: black;
}
  
/****
CARD BADGE SECTION
****/
.partner-cta-div{
  width: 100%;
  height: 40%;
  display: none;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
}

.network-div-container{
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: start;
}


.network-badge{
  width: 23rem;
  border-radius: 1rem;
  height: 15rem;
  display: flex;
  gap: .4rem;
  flex-direction: column;
  background: var(--mtn-bgn-cl);
  box-shadow:  0 2px 6px rgba(14, 13, 13, 0.4);
  border: 1px solid var(--wht-thin-border-1);
  margin-top: 3rem;
}

.network-badge-top{
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-top: .5rem;
}

.left-side-badge{
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-side-badge img{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 2px solid rgb(112, 98, 19);
}

.dark-mode .left-side-badge img{
  border: 3px solid rgb(199, 197, 197);
}

/****
RIGHT SIDE
****/
.right-side-badge{
  width: 70%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  column-gap: 0;
  flex-direction: column;
}

.right-side-badge h5{
  color: rgb(209, 204, 204);
  font-size: 1.2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  font-weight: 600;
}

.right-side-badge small span{
  font-size: 1rem;
  font-weight: 800;
}

.right-side-badge small{
  color: rgb(109, 109, 55);
  font-weight: 800;
  font-family: sans-serif;
}

/***
BOTTOM SECTION
****/
.network-badge-bottom{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: start;
  color: rgb(202, 195, 195);
  padding-right: .5rem;
  font-size: .8rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.network-badge-bottom strong{
  color:  rgb(109, 109, 55);
}

.network-badge-bottom ul li{
  text-decoration: none;
  list-style: none;
}

.network-badge-bottom span{
  font-size: 1.4rem;
  font-weight: 600;
  color: rgb(109, 109, 55);
}








  .order-status-container{
    width: 100%;
    max-width: 480px;
    justify-self: end;
    margin-left: 5.3rem;
    margin-bottom: 5rem;
    justify-self: end;
    box-shadow:  0 2px 6px rgba(0, 0, 0, 0.7);
  }

  .right-side{
    width: 100%;
    justify-content: center;
    display: flex;
    background: var(--body-bg-cl-1);
  }

  .left-side {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--body-bg-cl-1);
  }

  .left-side .checkBt{
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }

  .order-status-section{
    border-radius: 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.9);
  }

  .status-result{
    width: 100%;
    max-width: 220px;
    justify-self: center;
  }

  /***
  CARD-DIV CONTAINERS
  ****/
.main-section .card-container{
  width: max-content;
  padding: .5rem;
  display: grid;
  gap: 1rem;
  justify-content: start;
  grid-template-columns: repeat(5, 1fr);
  margin-right: 18.5rem;
}

.card-div{
  width: 12.3rem;
  height: 18rem
}



}
