/***
ROOT VARIABLE
*****/
:root{
  /***---BACKGROUND COLORS---***/
  --body-bg-cl-1: rgb(31, 32, 37);
  --nav-bg-cl-2: rgb(22, 23, 27);
  --hero-bg-cl-3: #494fcc;
  --main-section-bg-cl-4: #D3C600;
  --card-bg-cl-5: #929F33;
  --card-btn-bg-cl-6: #FF9157;
  --btn-hover-bg-cl-7: #336B92;
  --body-bg-cl-8: white;
  --body-bg-cl-9: white;

  /**--CARD BG--**/
  --mtn-bgn-cl: rgba(56, 51, 32, 0.288);
  --tigo-bgn-cl: #336B92;
  --tel-bgn-cl: rgb(201, 12, 75);

  /***--TEXT SIZES---***/
  --text-size-ext-small: .8rem;
  --text-size-small: .9rem;
  --text-size-mid: 1rem;
  --text-size-big: 1.1rem;
  --text-size-large: 1.2rem;
  --text-size-larger: 1.4rem;

  /**--TEXT COLORS--**/
  --text-cl-1: rgb(26, 23, 23);
  --text-cl-2: rgb(39, 27, 11);
  --text-cl-3: rgb(163, 149, 119);


  /*---border background---***/
  --wht-thin-border-1: rgb(56, 52, 52);
  --blk-thin-border-2: rgb(94, 59, 8);
  --ylw-thin-border-3: rgb(214, 100, 7);
  --rd-thin-border-4: rgb(163, 3, 38);
  --blu-thin-border-5: #163144;

  /**--HOVER CL--**/
  --bg-hover-cl: #163144;


  /***---border radius---***/
  --thin-br-1: 4px;
  --thin-br-2: 8px;
  --thin-br-3: 12px;
  --thin-br-4: 16px;
  --thin-br-5: 24px;
  --thin-br-6: 32px;
}

/***--GLOBAL SCOPE---***/
button:hover{
  cursor: pointer;
}

*{
  box-sizing: border-box;
  text-decoration: none;
}

body{
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  background: var(--body-bg-cl-1);
}

/***----NAVIGATION BAR SECTION---***/
.navbar-section{
  width: 100%;
  max-width: 480px;
  justify-self: center;;
  height: 4rem;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: .5rem 1rem;
  justify-content: space-between;
  background: var(--nav-bg-cl-2);
  border-bottom: 0.1px solid var(--wht-thin-border-1);
  z-index: 1000;
  overflow: hidden;;
}

.navbar-section .nav-left{
  width: 100%;
  width: 50%;
  height: 100%;
  display: flex;
  position: relative;
  justify-content: start;
  align-content: center;
}

.nav-left img{
  width: 2.7rem;
  height: 2.7rem;
  background-color: rgb(32, 32, 30);
  border-radius: 50%;
  border: 0.1px solid var(--blk-thin-border-2);
  cursor: pointer;
}

.navbar-section .nav-right{
  width: 100%;
  max-width: 50%;
  height: 100%;
  display: flex;
  position: relative;
  justify-content: end;
  align-content: center;
  align-items: center;
}

.nav-right img{
  width: 2rem;
  height: 1.9rem;
  background-color: rgb(129, 109, 81);
  border-radius: 2px;
  cursor: pointer;
}

/***----HERO SECTION---***/
.hero-section{
  width: 100%;
  max-width: 480px;
  height: 25rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: .7rem;
  background: var(--nav-bg-cl-2);
  position: relative;
  justify-self: center;
  top: 4.1rem;
  overflow: hidden;
  margin-bottom: .5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  border-end-end-radius: var(--thin-br-1);
  border-end-start-radius: var(--thin-br-1);
}

.hero-section .trusted{
  width: 100%;
  max-width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 1rem;
  gap: .4rem;
  background-color: rgb(54, 59, 61);
  color: rgb(206, 200, 200);
  height: max-content;
  padding: .4rem .5rem;
  border-radius: var(--thin-br-1);
  font-family: Arial;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.trusted img{
  width: 2.2rem;
  height: 1.2rem;
}

.hero-section .cta-text{
  width: 100%;
  max-width: max-content;
  align-items: center;
  justify-content: center;
  text-align: center;
  position:relative;
}

.cta-text h2{
  color: white;
  font-size: var(--text-size-larger);
  font-weight: 600;
  font-family: Arial;
  word-spacing: normal;
}

.hero-section .queen{
  width: 100%;
  max-width: 10rem;
  height: 5rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.queen img{
  height: 8rem;
  width: 6rem;
  border: 0.1px solid var(--wht-thin-border-1);
  border-radius: 50%;
}

.hero-section .short-note{
  width: 100%;
  max-width: max-content;
  padding: .2rem .4rem;
  height: 3rem;
  align-items: center;
  position: relative;
  display: flex;
  text-align: center;
}

.short-note p{
  font-size: var(--text-size-large);
  color: var(--text-cl-3)
}

.short-note strong{
  font-size: var(--text-size-larger);
  color: #929F33;
}

/***--NETWORKS--***/
.networks{
  display: flex;
  width: 100%;
  max-width: 97%;
  background-color: var(--body-bg-cl-1);
  height: 3rem;
  margin-top: .3rem;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  border: 0.1px solid var(--wht-thin-border-1);
  border-end-end-radius: 2rem;
  border-start-start-radius: 2rem;
}

.networks .mtn{
  background: var(--nav-bg-cl-2);
  display: flex;
  width: 5rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  color: rgb(119, 104, 63);
  font-size: var(--text-size-large); 
  border-radius: var(--thin-br-4);
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  border: 0.1px solid rgb(56, 51, 51);
}

.networks .tel{
  background: var(--nav-bg-cl-2);
  display: flex;
  width: 5rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  color: rgb(151, 88, 112);
  font-size: var(--text-size-large);
  border-radius: var(--thin-br-4);
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  border: 0.1px solid rgb(56, 51, 51);
}

.networks .tigo{
  background: var(--nav-bg-cl-2);
  display: flex;
  width: 7rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  color: rgb(119, 140, 148);
  font-size: var(--text-size-large);
  border-radius: var(--thin-br-4);
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  cursor: pointer;
  border: 0.1px solid rgb(56, 51, 51);
}

/****---MAIN SECTION---****/
.main-section{
  width: 100%;
  max-width: 480px;
  height: max-content;
  display: flex;
  padding: .6rem 0;
  position: relative;
  justify-content: center;;
  gap: 1rem;
  margin-top: 5rem;
  justify-self: center;
}

.main-section .card-container{
  width: 100%;
  max-width: 480px;
  height: max-content;
  display: grid;
  justify-self: center;
  justify-content: center;
  gap: .7rem;
  grid-template-columns: repeat(2, 1fr);
  padding: .5rem;
  position: relative;
  background-color: var(--body-bg-cl-1);
  box-shadow: 0 2px 6px rgba(0,0,0,0.5);
}

/***--CARD-DIV--**/
.card-div{
  width: 14rem;
  height: 19rem;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  justify-self: center;
  gap: .4rem;
  padding: .5rem 0;
  background:transparent;
  box-shadow: 2px 2px 6px rgba(19,18,18,0.6), -2px -2px 6px rgba(19, 18, 18, 0.6);
  border-radius: var(--thin-br-3);
  border: 0.1px solid var(--wht-thin-border-1);
  transition: .5s ease-in-out;
}

.card-div:hover{
  transform: scale(1.02);
}



.card-div-top{
  width: 94%;
  height: 60%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
  background: var(--mtn-bgn-cl);
  border-radius: var(--thin-br-4);
  box-shadow: 0 2px 6px rgba(10, 10, 10, 0.6);
}

.card-div-top h2{
  color: rgb(207, 196, 196);
  font-size: 1.1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card-div-top img{
  width: 2rem;
  height: 2rem;
  border-radius: 30%;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}




.card-div-bottom{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: transparent;
}

.card-div-bottom .package-detail{
  width: 100%;
  max-width: 97%;
  height: 60%;
  display: flex;
  flex-direction: column;
  gap: .3rem;
  padding: .4rem ;
  background: transparent;
  border-radius: var(--thin-br-1);
}

.expiry-date,
.size,
.price small{
  font-size: var(--text-size-large);
  color: rgb(150, 144, 144);
}


.expiry-date{
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expiry-date p{
  color: var(--text-cl-3);
}

.size{
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.size p{
  color: var(--text-cl-3);
}

.price{
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .2rem;;
}

.price p{
  color: var(--text-cl-3);
}












.buy-btn-div{
  width: 100%;
  height: 35%;
  display: flex;
  align-items: end;
  justify-content: center;
}

.buy-btn{
  width: 90%;
  height: 60%;
  border-radius: var(--thin-br-2);
  border: none;
  background: var(--card-btn-bg-cl-6);
  color: rgb(34, 25, 5);
  font-weight: 500;
  font-family: Arial;
  transition: .1s ease-in-out;
  text-transform: capitalize;
}

.buy-btn:hover{
  background-color:  #f09564;
  font-weight: 600;
}

